
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fafafa;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "EB Garamond", sans-serif;
  color: #999;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
